<%= form_with scope: :webpage, url: webpages_path, local: true do |form| %>

  <p>
    <%= form.label t('title') %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label t('description') %><br>
    <%= form.text_area :description %>
  </p>
  
  <p>
    <%= form.label t('body') %><br>
    <%= form.text_area :body %>
  </p>
  
  <p>
    <%= form.label t('author') %><br>
    <%= form.text_area :author %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>