<h1>Páginas</h1>

<p>
  <strong><%=t('title') %>:</strong>
  <%= @webpage.title %>
</p>

<p>
  <strong><%=t('description') %>:</strong>
  <%= @webpage.description %>
</p>

<p>
  <strong><%=t('body') %>:</strong>
  <%= @webpage.body %>
</p>

<p>
  <strong><%=t('author') %>:</strong>
  <%= @webpage.author %>
</p>

<%= link_to 'Back', webpages_path %>