<p id="notice"><%= notice %></p>

<h1>Webpages</h1>

<table>
  <thead>
    <tr>
      <th><%= t('title') %></th>
      <th><%= t('description') %></th>
      <th><%= t('body') %></th>
      <th><%= t('author') %></th>
      <th><%= t('created_at') %></th>
      <th><%= t('updated_at') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @webpages.each do |webpage| %>
      <tr>
        <td><%= webpage.title %></td>
        <td><%= webpage.description %></td>
        <td><%= webpage.body %></td>
        <td><%= webpage.author %></td>
        <td><%= l(webpage.created_at) %></td>
        <td><%= l(webpage.updated_at) %></td>
        <td><%= link_to 'Show', webpage %></td>
        <td><%= link_to 'Edit', edit_webpage_path(webpage) %></td>
        <td><%= link_to 'Destroy', webpage, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova página', new_webpage_path %>